* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38222B;
  background-image: url(images/tela-descanso/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#tela-descanso {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fundo-imagem {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.retangulo-1 {
  position: absolute;
  width: 100vw;
  height: auto;
  z-index: 2;
  top: 0;
}

.retangulo-2 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
  z-index: 2;
}

.logo-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.logo-botao-inner {
  transform-origin: center;
  animation: expandScreen 0.5s forwards;
}

@keyframes expandScreen {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.logo {
  width: 30vw;
  height: auto;
}

.botao {
  position: relative;
  left: 1vw;
  margin-top: 5vh;
  width: 28vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.botao:active {
  transform: scale(0.9);
}

.menu {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.menu-ativo {
  display: block;
  animation: scaleInScreen 0.3s forwards;
}

.menu-fundo {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.retangulo-menu-esquerda {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: auto;
}

@keyframes shrinkScreen {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes scaleInScreen {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.menu-logo {
  position: absolute;
  top: 15%;
  left: 29vw;
  transform: translateX(-50%);
  z-index: 2;
  width: 30vw;
  height: auto;
}

.menu-botoes {
  position: absolute;
  bottom: 0;
  left: 2vw;
  display: flex;
  gap: 20px;
  z-index: 3;
}

.menu-botao {
  width: 10vw;
  height: auto;
  opacity: 0;
  transform: translateY(10vh);
  transition: transform 0.2s ease;
  animation: slideUpHalf 0.8s forwards;
}

@keyframes slideUpHalf {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }

  to {
    opacity: 1;
    transform: translateY(5.6vh);
  }
}

.menu-botao:nth-child(1) {
  animation-delay: 0.2s;
}

.menu-botao:nth-child(2) {
  animation-delay: 0.4s;
}

.menu-botao:nth-child(3) {
  animation-delay: 0.6s;
}

.menu-botao:nth-child(4) {
  animation-delay: 0.8s;
}

.menu-botao:nth-child(5) {
  animation-delay: 1s;
}

#menu {
  opacity: 1;
  transition: opacity 1s ease;
}

.vip-overlay-container {
  position: absolute;
  top: 50%;
  right: 3.33vw;
  transform: translateY(-50%);
  width: 36vw;
  height: 36vw;
  z-index: 2;
}

.vip-overlay-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vip-folha-esquerda {
  width: 30vw;
  height: auto;
  z-index: 2;
  animation: moveLeftLeaf 1s forwards;
}

@keyframes moveLeftLeaf {
  from {
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) translate(-10.8vw, -14.7vw);
    opacity: 1;
  }
}

.vip-folha-direita {
  width: 42vw;
  height: auto;
  z-index: 3;
  animation: moveRightLeaf 1s forwards;
}

@keyframes moveRightLeaf {
  from {
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) translate(6vw, 15vw);
    opacity: 1;
  }
}

.vip-mulher {
  z-index: 4;
  width: 51vw;
  height: auto;
  margin-top: 30px;
  margin-left: 6px;
}

.vip-fundo-hex {
  z-index: 1;
  width: 36vw;
  height: auto;
}

.vip-topo-hex {
  z-index: 5;
  opacity: 0.8;
  width: 27vw;
  height: auto;
}

.leaf-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leaf-wrapper.left {
  z-index: 2;
  animation: windLeft 3s infinite ease-in-out 1s;
}

.leaf-wrapper.right {
  z-index: 3;
  animation: windRight 3s infinite ease-in-out 1s;
}

@keyframes windLeft {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-3deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes windRight {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(3deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.galeria {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transform: translateX(0);
}

.galeria-fundo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#btnGaleria {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

#btnFilme {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

#btnProjeto {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

#btnLocalizacao {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.galeria-content {
  position: absolute;
  top: 50%;
  left: 6.2vw;
  transform: translateY(-50%);
  z-index: 5;
  width: auto;
  text-align: center;
}


.foto-container {
  position: relative;
  width: 85vw;
  max-width: 90vw;
  height: 82.1vh;
  margin: 0;
}

.galeria-fechar {
  position: absolute;
  top: -3vh;
  right: -4.5vw;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  height: auto;
  padding: 0;
}

.galeria-fechar img {
  width: 3vw;
  height: auto;
}



.foto-principal {
  height: 100%;
  width: 88vw;
  object-fit: fill;
  display: block;
}



@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideOutLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.popup-zoom {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.popup-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 5vw;
  box-sizing: border-box;
}

.popup-content {
  max-width: 100%;
  max-height: 100%;
  animation: fadeInZoom 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-zoom {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  touch-action: pinch-zoom;
}


@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes swipeLeft {
  0% {
    opacity: 0;
    transform: translateX(60px) scale(0.98);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}

@keyframes swipeRight {
  0% {
    opacity: 0;
    transform: translateX(-60px) scale(0.98);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}

.barra-lateral-galeria {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.barra-imagem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
  pointer-events: none;
}

.botao-central-galeria {
  position: absolute;
  top: 50%;
  left: 6.2vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  width: 5vw;
  height: auto;
}

.botao-central-galeria img {
  width: 100%;
  height: auto;
}

.hex-zone {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 1001;
  cursor: pointer;
  pointer-events: auto;
}

.hex-esquerda {
  left: 0;
}

.hex-direita {
  right: 0;
}

.popup-video {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.popup-video.ativo {
  display: flex;
  opacity: 1;
}

.popup-video-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-video-content {
  position: relative;
  width: 90vw;
  height: 90vh;
  background-color: black;
  border-radius: 10px;
}

.popup-video-content iframe {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
}

.video-fechar {
  position: absolute;
  top: -2vh;
  right: -1vw;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 2vw;
  height: auto;
  padding: 0;
}

.video-fechar img {
  width: 2vw;
  height: auto;
}

.projeto-diferenciais {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.8s ease;
  transform: translateX(0);
}

.projeto-diferenciais.ativo {
  display: block;
  opacity: 1;
}

.projeto-diferenciais-fundo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.barra-lateral-projeto {
  position: absolute;
  top: 50%;
  left: -1.8vw;
  transform: translateY(-50%);
  width: 8.785vw;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 99;
}

.barra-lateral-projeto .barra-imagem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
  pointer-events: none;
}

.botoes-hexagonais-projeto {
  position: absolute;
  top: 50%;
  left: 8vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  pointer-events: auto;
}

.botao-projeto {
  height: 12.3vh;
  width: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.botao-projeto-selecionado {
  height: 14.3vh;
  transition: height 0.3s ease;
}

.botao-projeto:active {
  transform: scale(0.95);
}


.hex-e-frase {
  position: absolute;
  top: 49vh;
  left: 15vw;
  transform: translateY(-50%);
  height: 100vh;
  aspect-ratio: 1 / 1;
  z-index: 3;
}

.fundo-geometrico {
  position: absolute;
  top: 0;
  left: -5vh;
  width: 88.5%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
  pointer-events: none;
}

.hexagonos-centrais {
  position: relative;
  height: 95vh;
  width: auto;
  object-fit: fill;
  z-index: 2;
  pointer-events: none;
  margin-top: 4vh;
}

.frase-diferenciais {
  position: absolute;
  height: 16vh;
  width: auto;
  margin-left: 2vw;
  top: 58vh;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
}


.imagens-superiores {
  position: absolute;
  top: 15vh;
  right: 7vw;
  display: flex;
  gap: 1vw;
  z-index: 4;
  pointer-events: none;
}

.icone-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  animation: fadeInSlide 1s forwards;
  width: 8vw;
  height: auto;
  pointer-events: auto;
}

.icone-btn img {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}


.icone-btn:nth-child(1) {
  animation-delay: 0.5s;
}

.icone-btn:nth-child(2) {
  animation-delay: 1s;
}

.icone-btn:nth-child(3) {
  animation-delay: 1.5s;
}

.icone-btn:nth-child(4) {
  animation-delay: 2s;
}

.icone-btn:nth-child(5) {
  animation-delay: 2.5s;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.projeto-diferenciais-fechar img {
  position: absolute;
  top: 3vh;
  right: 2vw;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 3vw;
  height: auto;
  padding: 0;
}

.projeto-ficha-tecnica {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.projeto-ficha-tecnica.ativo {
  display: block;
  opacity: 1;
}

.projeto-ficha-tecnica-fundo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 40%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.conteudo-ficha {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  box-sizing: border-box;
}

.lado-esquerdo {
  position: relative;
  width: 15vw;
  flex-shrink: 0;
  display: flex;
}

.lado-direito {
  flex: 1;
  position: relative;
}

.predio-wrapper {
  position: absolute;
  top: 49vh;
  left: 0;
  transform: translateY(-50%);
  height: 110vh;
  aspect-ratio: 1 / 1;
  z-index: 1;
  pointer-events: none;
}

.grade-fundo {
  position: absolute;
  top: 0;
  left: 14.5vh;
  width: 62%;
  height: auto;
  object-fit: fill;
  z-index: 0;
  pointer-events: none;
  opacity: 0.1;
}

.predio-imagem {
  position: relative;
  z-index: 1;
  height: 115%;
  width: auto;
  object-fit: contain;
  pointer-events: none;
  margin-top: -7vh;
  left: -5vh;
  clip-path: inset(0 6% 0 0);
}

.informacoes-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15vh;
  z-index: 3;
  left: 100vw;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.informacoes-container.visivel {
  opacity: 1;
}

.cabecalho-wrapper {
  position: absolute;
  top: 21vh;
  right: 10vw;
  width: 38vw;
  height: auto;
}

.cabecalho-imagem {
  width: 100%;
  height: auto;
  display: block;
}

.cabecalho-area {
  position: absolute;
  top: 0;
  height: 100%;
  width: 33.33%;
  z-index: 10;
  cursor: pointer;
}

.cabecalho-empreendimento {
  left: 0%;
  width: 39.46%;
}

.cabecalho-unidades {
  left: 39.46%;
  width: 29.63%;
}

.cabecalho-lazer {
  left: 69.09%;
  width: 30.98%;
}

.texto-wrapper {
  z-index: 2;
  position: absolute;
  top: 30vh;
  right: 10vw;
}

.texto-imagem {
  width: 35vw;
  height: auto;
}


.projeto-ficha-tecnica-fechar {
  position: absolute;
  top: 3vh;
  right: 2vw;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
}

.projeto-ficha-tecnica-fechar img {
  width: 3vw;
  height: auto;
  display: block;
}

.projeto-vistas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.projeto-vistas.ativo {
  display: block;
  opacity: 1;
}

.projeto-vistas-fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.panorama-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 86vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 2;
  cursor: grab;
}

.panorama-imagem {
  height: 65vw;
  width: auto;
  min-width: 250vw;
  display: inline-block;

}

#panorama360 {
  width: 100%;
  height: 100%;
}

.retangulo-vistas {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  z-index: 3;
}

.botao-fechar-vistas {
  position: absolute;
  bottom: -3vh;
  left: 50%;
  transform: translateX(-50%);
  width: 3vw;
  z-index: 5;
  cursor: pointer;
}

.barra-lateral-vistas {
  position: absolute;
  top: 50%;
  right: -2vw;
  transform: translateY(-50%);
  width: 9vw;
  height: 101vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}

.barra-vistas-imagem {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
  pointer-events: none;
}

.botoes-hexagonais-vistas {
  position: absolute;
  top: 50%;
  right: 1.6vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  z-index: 100;
  pointer-events: auto;
  width: 80%;
}

.botao-vistas {
  width: auto;
  height: 4.3vh;
  max-width: 6vw;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.botao-vistas:active {
  transform: scale(0.95);
}

.botao-vistas-selecionado {
  transform: scale(1.15);
  transition: transform 0.2s ease;
  z-index: 10;
}

.pnlm-load-box {
  display: none !important;
}

.mapa-direcoes {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  width: 15vw;
  height: auto;
  z-index: 4;
}

.localizacao-panoramica {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.localizacao-panoramica.ativo {
  display: block;
  opacity: 1;
}

.localizacao-fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.localizacao-panorama-wrapper {
  position: absolute;
  top: 50%;
  left: 7vw;
  width: 86vw;
  height: 90vh;
  transform: translateY(-50%);
  z-index: 2;
}


#panoramaLocalizacao {
  width: 100%;
  height: 100%;
}

.btn-fechar-localizacao {
  position: absolute;
  top: 6vh;
  right: -1.5vw;
  width: 3vw;
  cursor: pointer;
  z-index: 3;
}

.barra-lateral-localizacao {
  position: absolute;
  top: 50%;
  left: -2vw;
  transform: translateY(-50%);
  width: 9vw;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}

.barra-localizacao-imagem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
  pointer-events: none;
}

.botoes-hexagonais-localizacao {
  position: absolute;
  top: 50%;
  left: 8.8vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  z-index: 100;
  pointer-events: auto;
  width: 80%;
}

.botao-localizacao {
  width: auto;
  height: 12.3vh;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.botao-localizacao-selecionado {
  height: 14.3vh;
  width: auto;
  cursor: pointer;
  transition: height 0.3s ease;
}

.localizacao-mapa {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.localizacao-mapa.ativo {
  display: block;
  opacity: 1;
}


.localizacao-mapa-wrapper {
  position: absolute;
  top: 50%;
  left: 7vw;
  width: 86vw;
  height: 90vh;
  transform: translateY(-50%);
  overflow: hidden;
}

.mapa-zoom-container {
  position: relative;
  width: 100%;
  height: auto;
  transform-origin: 0 0;
  transform: scale(1);
  overflow: hidden;
}

.mapa-zoom-container.grabbing {
  cursor: grabbing;
}

.mapa-base {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.8s ease;
}

.raio,
.pin-mapa {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
}

.raio-1 {
  top: 54%;
  left: 48.5%;
  width: 30%;

}

.raio-2 {
  top: 54%;
  left: 48.5%;
  width: 45%;

}

.raio-3 {
  top: 54%;
  left: 48.5%;
  width: 60%;

}

.raio-4 {
  top: 54%;
  left: 48.5%;
  width: 75%;

}

.pin-mapa {
  top: 54%;
  left: 48.5%;
  width: 6%;
}

.btn-fechar-localizacao-mapa {
  position: absolute;
  top: 7vh;
  right: 8vw;
  width: 3vw;
  cursor: pointer;
  z-index: 3;
}


.localizacao-guia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
  z-index: 10;
}

.localizacao-guia.ativo {
  display: block;
}

.card-container-guia {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
  z-index: 20;
  pointer-events: none;
}


.card-arrastavel {
  position: relative;
  opacity: 0;
  transition: opacity 1.2s ease, bottom 0.3s ease;
  touch-action: none;
  pointer-events: auto;
  bottom: 0;
}

.card-arrastavel.visivel {
  opacity: 1;
}

.card-arrastavel:active {
  cursor: grabbing;
}

.card-arrastavel img {
  width: auto;
  height: 38vh;
  object-fit: contain;
}

.card-arrastavel.aberto {
  bottom: 0;
}

.btn-fechar-localizacao-guia {
  position: absolute;
  top: 6vh;
  right: 5vw;
  width: 3vw;
  cursor: pointer;
  z-index: 3;
}

.frase-guia {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60vw;
  z-index: 10;
  pointer-events: none;
}